.App-logo {
  height: 5vw;
  width: 5vw;
}

.Nav {
  width: 100vw;
  height: auto;
  position: relative;
  border-bottom: solid 1px grey;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 0;
  font-size: 30px;
}
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}